@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>



<address>
    <strong>e-mail:</strong> <a href="mailto:bruno.versiani@gmail.com">bruno.versiani@gmail.com</a><br />
    <strong>Telefone (celular): </strong> +55 11 98076-6324</a>
</address>
